body{
	width:1100px;
	background-color:#cbd6cb;
	box-sizing:border-box;
}
img{
	padding-left:20px;
	width:300px;
}
table,tr,td{
	border:1px solid black;
}
.first-col{
	width:200px;
}
.middle-col{
	width:600px;
	text-align:center;
	
}
.last-col{
	width:200px;
}
